body {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  background-image:url("images/bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
